* {
    font-family: "Poppins", sans-serif;
}

.font-bangla {
    font-family: "Hind Siliguri", sans-serif;
}
.navbarBg{
    background-color: #cee4f8;
}
.container{
    width: 1370px;
    margin: 0 auto;
}

.active{
    background-color: #422AD5;
    color: white;
}